<footer class="mt-auto text-white-50">
    <p>Created by Pranet Khetan using NodeJS, Express, EJS and free ChatGPT API. Click on 'How it Works' in the navbar for a detailed explanation of how this prototype website works.</p>
  </footer>
</div>
    </body>
</html>