<footer class="mt-auto text-white-50">
    <p>Created by Pranet Khetan using NodeJS, Express, EJS and free ChatGPT API. This prototype works by sending your answers and the answer key to ChatGPT through the OpenAI API for comparision.</p>
  </footer>
</div>
    </body>
</html>