<%- include('partials/header') %>
  <body class="d-flex h-100 text-center text-bg-dark">    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Lumos.ai</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="/create">Create Worksheet</a>
        <a class="nav-link fw-bold py-1 px-0" href="/access">Answer Worksheet</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>AI-Powered Checking for Open-ended Answers</h1>
    <div style="background-color: #16191c;border-radius: 15px;" class="p-3">
    <p class="lead">Teachers across the world have a problem: There are so many worksheets to check! While simple algorithms can compare and check multiple-choice questions, open-ended or subjective answers need a lot more advancement.</p>
    <p class="lead">Hence, I have created Lumos. Lumos stands for illuminating learning by shining insights on a student's performance, and is a ChatGPT-powered AI Application that can check and grade open-ended answers. This will reduce the workload on teachers and help them spend more time on things like lesson planning, etc.</p></div>
    <p class="lead"></p>
    <h4>Click the navigator options (above) to get started</h4>
  </main>
<%- include('partials/footer') %>
